<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<h2>Login Page</h2>
<form action="#" th:action="@{/login}" method="post">
  <div class = "loginSection">
<label for="username">User Name: </label>
<input id="username" type="text" name="username" />

<label for="password">Password: </label>
<input id="password" type="password" name="password" />
  </div>
  <input type="submit" value="Submit" />
    <div th:if="${errorMessage}" style="color: #c43111;">
        <p>Sorry, this user either does not exist or the username/password is wrong.</p>
        <p>Please try again.</p>
    </div>
</form>
</body>
</html>