<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Make a New Quiz</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
<h2>Create a new quiz here: </h2>

<form method="POST" th:action="@{/generatequiz}">
    <p><label for="quizTitle">What will be the title of your quiz?</label></p>
    <p><input type="text" id="quizTitle" name="quizTitle"/></p>
    <input type="submit" value="Start Adding Questions >>>">
</form>
</body>

</html>