<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Make a New Quiz</title>
  <link rel="stylesheet" href="styles.css">
</head>
<script>

  //This is for dynamically generating the appropriate number of text inputs
function makeQuestionInputList() {


    let questionCount = parseInt(document.getElementById("questionCountInput").value);
    let inputContainer = document.getElementById("inputContainer");


    //If there were prior inputs in this div, then clear them.
    inputContainer.innerHTML = '';

    for (let i = 0; i < questionCount; i++)
    {
        let questionInput = document.createElement("input");
        questionInput.type = "text";
        questionInput.name = "q"+i;

        inputContainer.appendChild(questionInput);
        inputContainer.appendChild(document.createElement("br"));
    }

}

</script>
<body>
<h2>Create a new quiz here: </h2>

<form>
  <p><label for="questionCountInput">How many questions will your quiz have? (Maximum 20)</label></p>
<input id="questionCountInput" type="number" min="1" max="20"/>
<button id="questionCountSubmit" onclick="makeQuestionInputList()">Submit Question Count</button>
<div id="inputContainer" name="inputContainer" class="inputContainer">
</div>
  <input type="submit" value="Generate Quiz" />
</form>
</body>

</html>